<div class="container">
    <br>
    <div class="row titulo">
        <div class="col-md-12 text-center">
            <h1><b>
                Productos en Compra
            </b> </h1>
        </div>

    </div>
    <br><br>
    <div class="row">
        <div class="col-9">
            <div class="row listado">

                <table class="table text-center" style="margin: 0px;">
                    <thead class="cabecera-tabla">
                        <th class="the">Imagen</th>
                        <th class="the">Producto</th>
                        <th class="the">Precio</th>
                        <th class="the">Cantidad</th>
                        <th class="the">Subtotal</th>
                        <th class="the">Proveedor</th>
                        <th colspan="2" class="the">Modificar</th>
                        

                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of detalles">
                            <td style="padding: 0px 0px 0px 0px !important;"><img style="max-height: 70px; max-width: 70px;" src="{{item.producto.imagen}}" alt=""></td>
                            <td>{{item.producto.producto}}</td>
                            <td>{{item.producto.precioCompra}}</td>
                            <td *ngIf="conf==true" id="cantidad">{{item.cantidad}}</td>
                                <td *ngIf="conf==false"><input  [(ngModel)]="item.cantidad" id="cant_edit" class="form-control" type="number" > </td>
                            <!-- <td *ngIf="conf==true" id="cantidad">{{item.cantidad}}</td> 
                            <td *ngIf="conf==false"><input  [(ngModel)]="item.cantidad" id="cant_edit" class="form-control" type="number" > </td>-->
                            <td>{{item.producto.precioCompra*item.cantidad}}</td>
                            <td>{{item.proveedor.nombreComercial}}</td>
                            <td colspan="0.5">
                                <button  (click)="procesar(item)" class="btn btn-success">{{valor}}</button>
                                <button (click)="eliminar(item)" class="btn btn-danger">BORRAR</button>
                            </td>
                            
                            
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="col-3 boleta" style="background: #343a40; color:white;" >
            <br>
            <div class="row">
                <h3 style="text-align: center;    width: 100%; "><b>Orden de compra</b></h3>
            </div>
            <div class="row" >
                <div class="col-12 text-center">
                    
                    <p style="color: white;">Total: {{guia.neto}}</p> 

                    <button (click)="comprarGuia()"  style="background: #ffa900; color:white;" class="btn">COMPRAR</button>

                </div>
                
            </div>
            <br>


        </div>

    </div>
</div>