<style>
    .bg{
    background-image:url(../../../../assets/images/productoropa.png);
    background-position: center center;
    background-size: cover;
    
}
</style>

<div class="container w-75 bg-white  rounded shadow" >
    <div class="row align-items-stretch" >
        
        <div class="col p-5 rounded-end">
            
            
            <h2 class="fw-bold text-center py-6">Actualizar Producto</h2>
            <br>
           

            <form action="#">
                
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Nombre</label><br>
                    <input type="text" class="form-control" name="producto" id="producto" [(ngModel)]="producto.producto">
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Precio</label><br>
                    <input type="number" class="form-control" name="precio" id="precio" [(ngModel)]="producto.precio">
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Precio Compra</label><br>
                    <input type="number" class="form-control" name="precioCompra" id="precioCompra" [(ngModel)]="producto.precioCompra">
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Estado</label><br>
                    <select name="estado"  [(ngModel)]="producto.estado" class="form-control ps-2" aria-label="Default select example">
                        <option [ngValue]="undefined" selected>--Seleccione--</option>
                        <option [ngValue]="1">Activo</option>
                        <option [ngValue]="0">Inactivo</option>
                    </select>
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">descripción</label><br>
                    <input type="text" class="form-control" name="descripcion" id="descripción" [(ngModel)]="producto.descripcion">
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Categoria</label><br>
                    <select name="producto.categoria"  [(ngModel)]="producto.categoria" class="form-control ps-2" aria-label="Default select example">
                        <option [ngValue]="undefined" selected >--Seleccione--</option>
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria"  [selected]="categoria.categoria"> {{categoria.categoria}} </option>
                    </select>
                </div>
                <div class="mb-1">
                    <label for="" class="form-label fw-bolder">Imagen</label><br>
                    <input type="text" class="form-control" name="imagen" id="imagen" [(ngModel)]="producto.imagen">
                </div>
                
                
                <div class="d-grid  ">
                    <button (click)="ActualizarProducto(producto)" type="submit" class="btn btn-primary fw-bold text-light">Actualizar</button>
                </div>
                
                
            </form>
            
            
            
        </div>
        <div  class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" >

        </div>
        
    </div>
</div>