
  




  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"content="width=device-width,initial-scale=1.0">
      <title>Header de Bienvenida</title>
  </head>
  <body>
      <div class="contenido">
          
        <div class="card border-primary mb-3">
    
            <div class="card-body text-primary text-center">
              <h5 class="card-title">Listado de Pedidos</h5>
              <div class="card-header"> Pedidos registrados</div>
              <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>SubTotal</th>
                        <th>Igv</th>
                        <th>Monto Total</th>
                        <th>Fecha Pedido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cabecera of cabeceras">
                        <td>{{cabecera.idCabecera}}</td>
                        <td>S/{{cabecera.bruto}}.00</td>
                        <td>S/{{cabecera.igv}}</td>
                        <td>S/{{cabecera.neto}}</td>
                        <td>{{cabecera.fechamat}}</td>
                        
                        <td><button  (click)="openCentrado(contenido,cabecera)" class="btn btn-success">Ver Detalles</button></td>
                    </tr>
                  </tbody>
              </table>
              
            </div>
          </div>
          <!-- Button trigger modal -->
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detalle of detalles">
                                <td><img style="max-height: 70px; max-width: 70px;" src="{{detalle.producto.imagen}}"></td>
                                <td>{{detalle.producto.producto}}</td>
                                <td>{{detalle.cantidad}}</td>
                                <td>S/{{detalle.precio}}.00</td>
                                <td>S/{{detalle.cantidad*detalle.precio}}.00</td>
                                
                            </tr>
                          </tbody>
                      </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      
      <ng-template #contenido let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Listado Pedido</h4>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detalles">
                    <td><img style="max-height: 70px; max-width: 70px;" src="{{detalle.producto.imagen}}"></td>
                    <td>{{detalle.producto.producto}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>S/{{detalle.precio}}.00</td>
                    <td>S/{{detalle.cantidad*detalle.precio}}.00</td>
                    
                </tr>
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"(click)="modal.close()" >Cerrar</button>
        </div>
    </ng-template>

      <script src="../../assets/js/bootsnav.js"></script>
  </body>
  </html>
