<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin Administración</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="  ">
        <section class="cpnazo__home__banner">
    <div style=" margin-top: 160px;"
        data-infinite="true"
        data-slides-show="1"
        data-autoplay="true"
        data-autoplay-speed="5000"
        data-pause-on-hover="false"
        data-pause-on-focus="false"
        data-lazy-load="ondemand"
        data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-45 g-height-45 rounded"
        data-arrow-left-classes="fa fa-angle-left g-left-10"
        data-arrow-right-classes="fa fa-angle-right g-right-10"
        data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x text-center">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio laboriosam vero nostrum sunt quod quaerat ducimus mollitia asperiores ab aut, illo dolores perferendis ex? Reiciendis sit possimus reprehenderit. Explicabo, iure!</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </div>
    </section>
        </div>
    
</body>
</html>