<div class="dashboard-container">

  
    <main class="main-content">
      <header>
        <h1>Dashboard Ventas</h1>
      </header>
      <div class="charts-container">
        <div class="chart-card">
          <h2>Dinero Recaudado por Mes</h2>
          <div>
            <!-- Aquí usas tu componente de Angular para el gráfico -->
            <canvas id="myChart6" style="display: block; box-sizing: border-box; height: 300px; width: 550px;"></canvas>
          </div>
        </div>
        <div class="chart-card">
          <h2>Ventas Realizadas por Mes</h2>
          <div>
            <!-- Aquí usas tu componente de Angular para el gráfico -->
            <canvas id="myChart5"></canvas>
          </div>
        </div>
      </div>
    </main>
  </div>