<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Complete your purchase</title>
</head>
<body>
   <br>
    <header>
        
        <h1 class="logo">PASARELA</h1>
        <ul class="menu-container">
        </ul>

    </header>
    <div class="progress-checkout-container">
        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">Datos del Cliente</span>
        </div>
        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">Datos de Envio</span>
        </div>

        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">Pagar</span>
        </div>
        


    </div>
    <div class="container">
        <div class="row">
    <div class="col-lg-12">

        <h2 class="form-title">GRACIAS POR SU COMPRA</h2>
        <div class="imagen">
            <img style="height: 350px; width: 350px;" src="https://cdn-icons-png.flaticon.com/512/1147/1147823.png" alt="Descripción de la imagen">
          </div>

</div>

    
</div>
</div>

</body>
</html>